html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: arial;
}
body {
	display: flex;
}
form,
#profile {
	margin: auto;
	text-align: center;
}
#profile {
	text-align: left;
}
.wrap_form {
	display: inline-block;
}
#load,
#error,
#profile { display: none; }
label {
	display: block;
	margin: 15px 0;
	text-align: right;
}
input {
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid #4a7ed0;
	box-shadow: inset 1px 1px 2px rgba(74, 126, 208, 0.4);
	outline: 0;
}	
#submit,
#hide {
	display: block;
	padding: 10px 100px;
	margin: 25px auto;
	border-radius: 5px;
	border: 0;
	background: #4a7ed0;
	font-size: 16px;
	font-family: arial;
	color: #ffffff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
	outline: 0;
}	
#submit:hover,
#hide:hover {
	background: #528ae2;
}
#submit:active, 
#hide:active {
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
}
#load {			
	text-align: center;
}
#error {
	color: #f00;
	font-weight: bold;
}
#profile span {
	text-align: left;
	padding: 10px 0;
	display: block;
}
#profile .avatar {
	display: inline-block;
	vertical-align: top;
    margin: 10px 15px 0 0;
}
#profile .info_wrap {
	display: inline-block;
	vertical-align: top;
}
